Repository Lightning-AI/tutorials, pull requests merged in 2021-12, with the labels that each got.

#103 Fix import bugs in text-transformers.py
  lightning_examples/text-transformers/.meta.yml
  lightning_examples/text-transformers/text-transformers.py
Labels: bug / fix

#118 UvA DLC Tutorial 6: Updated PyG requirement
  course_UvA-DL/06-graph-neural-networks/.meta.yml
Labels: bug / fix

#114 CI: check dead links in docs
  .actions/helpers.py
  .azure-pipelines/ipynb-publish.yml
  .azure-pipelines/ipynb-tests.yml
  .github/workflows/ci_docs.yml
  course_UvA-DL/01-introduction-to-pytorch/.meta.yml
  course_UvA-DL/01-introduction-to-pytorch/Introduction_to_PyTorch.py
  course_UvA-DL/03-initialization-and-optimization/.meta.yml
  course_UvA-DL/03-initialization-and-optimization/Initialization_and_Optimization.py
  course_UvA-DL/04-inception-resnet-densenet/.meta.yaml
  course_UvA-DL/04-inception-resnet-densenet/Inception_ResNet_DenseNet.py
  course_UvA-DL/05-transformers-and-MH-attention/.meta.yml
  course_UvA-DL/05-transformers-and-MH-attention/Transformers_MHAttention.py
  course_UvA-DL/06-graph-neural-networks/GNN_overview.py
  flash_tutorials/electricity_forecasting/.meta.yml
  lightning_examples/augmentation_kornia/.meta.yml
  lightning_examples/basic-gan/.meta.yaml
  lightning_examples/cifar10-baseline/.meta.yml
  lightning_examples/datamodules/.meta.yml
  lightning_examples/datamodules/datamodules.py
  lightning_examples/mnist-hello-world/.meta.yml
  lightning_examples/mnist-hello-world/hello-world.py
  lightning_examples/mnist-tpu-training/.meta.yml
  lightning_examples/reinforce-learning-DQN/.meta.yml
  lightning_examples/text-transformers/text-transformers.py
  sample-template/.meta.yml
Labels: enhancement, CI/CD

#117 Fixed epsilon decay in dqn example
  lightning_examples/reinforce-learning-DQN/.meta.yml
  lightning_examples/reinforce-learning-DQN/dqn.py
Labels: bug / fix

#119 Refactor: simplify scripts
  .actions/assistant.py
  .actions/ipynb-generate.sh
  .actions/ipynb-render.sh
  .actions/ipynb-test.sh
  .azure-pipelines/ipynb-publish.yml
  .azure-pipelines/ipynb-tests.yml
  .github/workflows/ci_code-format.yml
  .github/workflows/ci_docs.yml
  .github/workflows/ci_testing.yml
  .pre-commit-config.yaml
  Makefile
  docs/source/conf.py
  sample-template/.meta.yml
  sample-template/.thumb.png
Labels: enhancement, CI/CD

#120 Refactor: expand datasets
  .actions/assistant.py
  .actions/data-download.sh
  .azure-pipelines/ipynb-publish.yml
  .azure-pipelines/ipynb-tests.yml
  .github/workflows/ci_docs.yml
  .github/workflows/ci_testing.yml
  .github/workflows/docs-deploy.yml
  README.md
  requirements/data.txt
  requirements/default.txt
  requirements/devel.txt
  sample-template/.meta.yml
Labels: enhancement, CI/CD

#123 Add template with flash & titanic
  .actions/assistant.py
  templates/simple/.meta.yml
  templates/simple/.thumb.png
  templates/simple/template.py
  templates/simple/test.png
  templates/titanic/.meta.yml
  templates/titanic/tutorial.py
Labels: enhancement, Example, CI/CD

#127 Fix electricity forecasting tutorial
  docs/source/index.rst
  flash_tutorials/electricity_forecasting/.meta.yml
  flash_tutorials/electricity_forecasting/electricity_forecasting.py
Labels: bug / fix
