Repository Lightning-AI/tutorials, pull requests merged in 2021-06, with the labels that each got.

#22 Update TPU setup
  starters/cifar10-baseline/baseline.py
Labels: bug / fix

#30 allow yaml|yml metafile
  .actions/helpers.py
  .actions/ipynb-generate.sh
  .actions/requirements.txt
  Makefile
  starters/basic-gan/.meta.yaml
Labels: CI/CD, enhancement

#31 fix Colab link & image size
  .actions/helpers.py
  starters/basic-gan/.meta.yaml
Labels: CI/CD, bug / fix

#33 CD: detect deleted folders
  .actions/data-download.sh
  .actions/git-diff-sync.sh
  .actions/helpers.py
  .actions/ipynb-generate.sh
  .actions/ipynb-render.sh
  .actions/ipynb-test.sh
  .azure-pipelines/ipynb-publish.yml
  .azure-pipelines/ipynb-tests.yml
  .github/workflows/ci_docs.yml
  .github/workflows/ci_testing.yml
  .github/workflows/pub_notebooks.yml
  docs/requirements.txt
  docs/source/conf.py
  lightning_examples/basic-gan/.meta.yaml
  lightning_examples/basic-gan/gan.py
  lightning_examples/cifar10-baseline/.meta.yml
  lightning_examples/cifar10-baseline/baseline.py
  lightning_examples/datamodules/.meta.yml
  lightning_examples/datamodules/datamodules.py
  lightning_examples/mnist-hello-world/.meta.yml
  lightning_examples/mnist-hello-world/hello-world.py
Labels: CI/CD, enhancement

#35 re-link ipynb images
  .actions/helpers.py
Labels: CI/CD, enhancement

#36 allow pip args in metafile
  .actions/data-download.sh
  .actions/helpers.py
  .actions/ipynb-render.sh
  .actions/ipynb-test.sh
  .azure-pipelines/ipynb-publish.yml
  .azure-pipelines/ipynb-tests.yml
  .github/workflows/ci_testing.yml
Labels: CI/CD, enhancement

#37 add setup in notebooks
  .actions/helpers.py
  lightning_examples/basic-gan/gan.py
  lightning_examples/cifar10-baseline/baseline.py
  lightning_examples/datamodules/datamodules.py
  lightning_examples/mnist-hello-world/hello-world.py
Labels: CI/CD, enhancement

#21 Adding tutorial on Graph Neural Networks
  course_UvA-DL/graph-neural-networks/.meta.yml
  course_UvA-DL/graph-neural-networks/GNN_overview.py
  course_UvA-DL/graph-neural-networks/example_graph.svg
  course_UvA-DL/graph-neural-networks/gcn_network.png
  course_UvA-DL/graph-neural-networks/graph_attention.jpeg
  course_UvA-DL/graph-neural-networks/graph_attention_MLP.svg
  course_UvA-DL/graph-neural-networks/graph_message_passing.svg
  course_UvA-DL/graph-neural-networks/molecule_graph.svg
  course_UvA-DL/graph-neural-networks/torch_geometric_stacking_graphs.png
Labels: Example, enhancement

#28 add kornia data augmentation tutorial
  lightning_examples/augmentation_kornia/.meta.yml
  lightning_examples/augmentation_kornia/augmentation.py
Labels: Example, enhancement

#39 fix changed & data cache & update Azure triggers
  .actions/helpers.py
  .actions/ipynb-render.sh
  .actions/ipynb-test.sh
  .azure-pipelines/ipynb-publish.yml
  .azure-pipelines/ipynb-tests.yml
  .github/workflows/ci_testing.yml
  course_UvA-DL/graph-neural-networks/.meta.yml
  requirements/default.txt
Labels: CI/CD, Priority, bug / fix, enhancement

#42 extend notebook header
  .actions/helpers.py
  .github/workflows/docs-deploy.yml
Labels: CI/CD, enhancement

#40 add template example
  .actions/helpers.py
  docs/source/index.rst
  setup.cfg
  template/.meta.yml
  template/template.py
  template/test.png
Labels: documentation, enhancement

#8 add ipynb - DQN
  lightning_examples/reinforce-learning-DQN/.meta.yml
  lightning_examples/reinforce-learning-DQN/dqn.py
Labels: Example, enhancement

#9 add ipynb - text transformers
  lightning_examples/text-transformers/.meta.yml
  lightning_examples/text-transformers/text-transformers.py
Labels: Example, enhancement
