Repository Lightning-AI/tutorials, pull requests merged in 2021-07, with the labels that each got.

#46 add TPU MNIST
  lightning_examples/mnist-tpu-training/.meta.yml
  lightning_examples/mnist-tpu-training/mnist-tpu.py
Labels: Example, enhancement

#53 Edit a line to ``self(x)`` for readability
  lightning_examples/cifar10-baseline/baseline.py
Labels: enhancement

#60 inline image to notebooks
  .actions/helpers.py
  README.md
  template/.meta.yml
Labels: 0:] Ready->Go, CI/CD, enhancement

#61 improve pruning removed notebooks
  .actions/git-diff-sync.sh
  .actions/helpers.py
  sample-template/.meta.yml
  sample-template/template.py
  sample-template/test.png
Labels: CI/CD

#54 copy unsupported accel
  .actions/git-diff-sync.sh
  .actions/ipynb-render.sh
  lightning_examples/mnist-tpu-training/.meta.yml
  sample-template/.meta.yml
Labels: CI/CD, bug / fix

#56 Adding UvA-DL notebook "Deep Autoencoders"
  course_UvA-DL/deep-autoencoders/.meta.yml
  course_UvA-DL/deep-autoencoders/Deep_Autoencoders.py
  course_UvA-DL/deep-autoencoders/autoencoder_visualization.svg
  course_UvA-DL/deep-autoencoders/deconvolution.gif
  course_UvA-DL/deep-autoencoders/tensorboard_projector_screenshot.jpeg
Labels: 0:] Ready->Go, Example

#57 Adding UvA-DL notebook "Normalizing Flows for image modeling"
  course_UvA-DL/normalizing-flows/.meta.yml
  course_UvA-DL/normalizing-flows/NF_image_modeling.py
  course_UvA-DL/normalizing-flows/Squeeze_operation.svg
  course_UvA-DL/normalizing-flows/comparison_GAN_VAE_NF.png
  course_UvA-DL/normalizing-flows/coupling_flow.svg
  course_UvA-DL/normalizing-flows/dequantization_issue.svg
  course_UvA-DL/normalizing-flows/image_to_gaussian.svg
  course_UvA-DL/normalizing-flows/multiscale_flow.svg
  course_UvA-DL/normalizing-flows/normalizing_flow_layout.png
  course_UvA-DL/normalizing-flows/uniform_flow.png
  course_UvA-DL/normalizing-flows/vanilla_flow.svg
Labels: 0:] Ready->Go, Example

#65 CD: Fix log commit msg
  .azure-pipelines/ipynb-publish.yml
  .github/workflows/ci_schema.yml
  sample-template/.meta.yml
Labels: CI/CD, bug / fix

#50 Adding UvA-DL notebook "Transformers and MH Attention"
  course_UvA-DL/transformers-and-MH-attention/.meta.yml
  course_UvA-DL/transformers-and-MH-attention/Transformers_MHAttention.py
  course_UvA-DL/transformers-and-MH-attention/attention_example.svg
  course_UvA-DL/transformers-and-MH-attention/cifar100_example_anomaly.png
  course_UvA-DL/transformers-and-MH-attention/comparison_conv_rnn.svg
  course_UvA-DL/transformers-and-MH-attention/multihead_attention.svg
  course_UvA-DL/transformers-and-MH-attention/scaled_dot_product_attn.svg
  course_UvA-DL/transformers-and-MH-attention/transformer_architecture.svg
  course_UvA-DL/transformers-and-MH-attention/warmup_loss_plot.svg
Labels: 0:] Ready->Go, Example

#58 Adding UvA-DL notebook "Autoregressive Image Modeling"
  course_UvA-DL/autoregressive-image-modeling/.meta.yml
  course_UvA-DL/autoregressive-image-modeling/Autoregressive_Image_Modeling.py
  course_UvA-DL/autoregressive-image-modeling/PixelCNN_GatedConv.svg
  course_UvA-DL/autoregressive-image-modeling/autoregressive_image_modeling.svg
  course_UvA-DL/autoregressive-image-modeling/masked_convolution.svg
  course_UvA-DL/autoregressive-image-modeling/pixelcnn_blind_spot.svg
Labels: 0:] Ready->Go, Example

#55 Adding UvA-DL notebook "Deep Energy-Based Generative Models"
  course_UvA-DL/deep-energy-based-generative-models/.meta.yml
  course_UvA-DL/deep-energy-based-generative-models/Deep_Energy_Models.py
  course_UvA-DL/deep-energy-based-generative-models/contrastive_divergence.svg
  course_UvA-DL/deep-energy-based-generative-models/energy_models_application.png
  course_UvA-DL/deep-energy-based-generative-models/sampling.svg
  course_UvA-DL/deep-energy-based-generative-models/tensorboard_screenshot.png
  course_UvA-DL/deep-energy-based-generative-models/training_algorithm.svg
Labels: 0:] Ready->Go, Example
