Repository Lightning-AI/tutorials, pull requests merged in 2021-09, with the labels that each got.

#77 Adding UvA-DL notebook "Initialization and Optimization"
  course_UvA-DL/initialization-and-optimization/.meta.yml
  course_UvA-DL/initialization-and-optimization/Initialization_and_Optimization.py
  course_UvA-DL/initialization-and-optimization/flat_vs_sharp_minima.svg
Labels: Example

#78 Adding UvA-DL notebook "Inception, ResNet, and DenseNet"
  course_UvA-DL/inception-resnet-densenet/.meta.yaml
  course_UvA-DL/inception-resnet-densenet/Inception_ResNet_DenseNet.py
  course_UvA-DL/inception-resnet-densenet/densenet_block.svg
  course_UvA-DL/inception-resnet-densenet/inception_block.svg
  course_UvA-DL/inception-resnet-densenet/resnet_block.svg
  course_UvA-DL/inception-resnet-densenet/resnet_loss_surface.png
  course_UvA-DL/inception-resnet-densenet/resnet_notation.svg
  course_UvA-DL/inception-resnet-densenet/tensorboard_screenshot_DenseNet.png
  course_UvA-DL/inception-resnet-densenet/tensorboard_screenshot_GoogleNet.png
  course_UvA-DL/inception-resnet-densenet/tensorboard_screenshot_ResNet.png
Labels: Example, 0:] Ready->Go

#76 Adding UvA-DL notebook "Activation Functions"
  course_UvA-DL/activation-functions/.meta.yml
  course_UvA-DL/activation-functions/Activation_Functions.py
Labels: Example

#80 Adding UvA-DL notebook "Self-Supervised Contrastive Learning with SimCLR"
  course_UvA-DL/contrastive-learning/.meta.yml
  course_UvA-DL/contrastive-learning/SimCLR.py
  course_UvA-DL/contrastive-learning/crop_views.svg
  course_UvA-DL/contrastive-learning/simclr_contrastive_learning.png
  course_UvA-DL/contrastive-learning/simclr_data_augmentations.jpg
  course_UvA-DL/contrastive-learning/simclr_network_setup.svg
  course_UvA-DL/contrastive-learning/tensorboard_simclr.png
Labels: Example

#84 Fix reference
  course_UvA-DL/activation-functions/Activation_Functions.py
Labels: documentation

#85 Add thumbnail support
  .actions/helpers.py
  .actions/ipynb-render.sh
  .github/workflows/ci_docs.yml
  docs/source/conf.py
  lightning_examples/augmentation_kornia/.thumb.svg
  lightning_examples/basic-gan/.meta.yaml
Labels: documentation

#86 Fix bad substitution
  .actions/ipynb-render.sh
  .github/workflows/ci_docs.yml
  lightning_examples/augmentation_kornia/.meta.yml
  lightning_examples/basic-gan/.meta.yaml
Labels: bug / fix, enhancement, CI/CD

#89 Pin pytorch geometric version for compatibility with pretrained weights
  course_UvA-DL/graph-neural-networks/.meta.yml
Labels: bug / fix

#88 Docs/thumbnail preview
  course_UvA-DL/activation-functions/.thumb.jpg
  course_UvA-DL/autoregressive-image-modeling/.thumb.jpg
  course_UvA-DL/deep-autoencoders/.thumb.jpg
  course_UvA-DL/deep-energy-based-generative-models/.thumb.jpg
  course_UvA-DL/graph-neural-networks/.thumb.jpg
  course_UvA-DL/inception-resnet-densenet/.thumb.jpg
  course_UvA-DL/initialization-and-optimization/.thumb.jpg
  course_UvA-DL/introduction-to-pytorch/.thumb.jpg
  course_UvA-DL/normalizing-flows/.thumb.jpg
  course_UvA-DL/transformers-and-MH-attention/.thumb.jpg
  course_UvA-DL/vision-transformer/.thumb.jpg
Labels: documentation

#91 Adding Youtube videos of UvA DL course as iFrames
  course_UvA-DL/activation-functions/Activation_Functions.py
  course_UvA-DL/autoregressive-image-modeling/Autoregressive_Image_Modeling.py
  course_UvA-DL/deep-autoencoders/Deep_Autoencoders.py
  course_UvA-DL/deep-energy-based-generative-models/Deep_Energy_Models.py
  course_UvA-DL/graph-neural-networks/GNN_overview.py
  course_UvA-DL/inception-resnet-densenet/Inception_ResNet_DenseNet.py
  course_UvA-DL/initialization-and-optimization/Initialization_and_Optimization.py
  course_UvA-DL/introduction-to-pytorch/Introduction_to_PyTorch.py
  course_UvA-DL/normalizing-flows/NF_image_modeling.py
  course_UvA-DL/transformers-and-MH-attention/Transformers_MHAttention.py
Labels: enhancement

#92 Add two more thumbnails
  course_UvA-DL/contrastive-learning/.thumb.jpg
  course_UvA-DL/meta-learning/.thumb.jpg
Labels: documentation

#93 Add tag mapping and validation
  .actions/helpers.py
  course_UvA-DL/contrastive-learning/.meta.yml
  course_UvA-DL/meta-learning/.meta.yml
Labels: enhancement
