Repository Lightning-AI/tutorials, pull requests merged in 2021-08, with the labels that each got.

#63 CI: pre-commit docformatter
  .actions/helpers.py
  .pre-commit-config.yaml
  course_UvA-DL/autoregressive-image-modeling/Autoregressive_Image_Modeling.py
  course_UvA-DL/deep-autoencoders/Deep_Autoencoders.py
  course_UvA-DL/deep-energy-based-generative-models/Deep_Energy_Models.py
  course_UvA-DL/graph-neural-networks/GNN_overview.py
  course_UvA-DL/normalizing-flows/NF_image_modeling.py
  course_UvA-DL/transformers-and-MH-attention/Transformers_MHAttention.py
  lightning_examples/reinforce-learning-DQN/dqn.py
Labels: 0:] Ready->Go, CI/CD

#79 Fix bug in ipynb-render.sh
  .actions/ipynb-render.sh
  course_UvA-DL/autoregressive-image-modeling/.meta.yml
  course_UvA-DL/deep-autoencoders/.meta.yml
  course_UvA-DL/deep-energy-based-generative-models/.meta.yml
  course_UvA-DL/graph-neural-networks/.meta.yml
  course_UvA-DL/normalizing-flows/.meta.yml
  course_UvA-DL/transformers-and-MH-attention/.meta.yml
  lightning_examples/augmentation_kornia/.meta.yml
  lightning_examples/basic-gan/.meta.yaml
  lightning_examples/cifar10-baseline/.meta.yml
  lightning_examples/datamodules/.meta.yml
  lightning_examples/mnist-hello-world/.meta.yml
  lightning_examples/mnist-tpu-training/.meta.yml
  lightning_examples/reinforce-learning-DQN/.meta.yml
  lightning_examples/text-transformers/.meta.yml
  lightning_examples/text-transformers/text-transformers.py
  sample-template/.meta.yml
Labels: bug / fix

#81 use Black
  .actions/helpers.py
  .github/workflows/ci_code-format.yml
  .pre-commit-config.yaml
  course_UvA-DL/autoregressive-image-modeling/Autoregressive_Image_Modeling.py
  course_UvA-DL/deep-autoencoders/Deep_Autoencoders.py
  course_UvA-DL/deep-energy-based-generative-models/Deep_Energy_Models.py
  course_UvA-DL/graph-neural-networks/GNN_overview.py
  course_UvA-DL/normalizing-flows/NF_image_modeling.py
  course_UvA-DL/transformers-and-MH-attention/Transformers_MHAttention.py
  docs/source/conf.py
  lightning_examples/augmentation_kornia/augmentation.py
  lightning_examples/basic-gan/gan.py
  lightning_examples/cifar10-baseline/baseline.py
  lightning_examples/datamodules/datamodules.py
  lightning_examples/mnist-hello-world/hello-world.py
  lightning_examples/mnist-tpu-training/mnist-tpu.py
  lightning_examples/reinforce-learning-DQN/dqn.py
  lightning_examples/text-transformers/text-transformers.py
  pyproject.toml
  requirements/devel.txt
  sample-template/template.py
  setup.cfg
Labels: enhancement, CI/CD

#69 Adding UvA-DL notebook "Vision Transformer"
  course_UvA-DL/vision-transformer/.meta.yml
  course_UvA-DL/vision-transformer/Vision_Transformer.py
  course_UvA-DL/vision-transformer/pre_layer_norm.svg
  course_UvA-DL/vision-transformer/tensorboard_screenshot.png
  course_UvA-DL/vision-transformer/vit_architecture.png
Labels: Example, 0:] Ready->Go

#73 Adding UvA-DL notebook "Introduction to PyTorch"
  course_UvA-DL/introduction-to-pytorch/.meta.yml
  course_UvA-DL/introduction-to-pytorch/Introduction_to_PyTorch.py
  course_UvA-DL/introduction-to-pytorch/comparison_CPU_GPU.png
  course_UvA-DL/introduction-to-pytorch/continuous_xor.svg
  course_UvA-DL/introduction-to-pytorch/pytorch_computation_graph.svg
  course_UvA-DL/introduction-to-pytorch/small_neural_network.svg
Labels: Example, 0:] Ready->Go
