Repository Lightning-AI/tutorials, pull requests merged in 2022-08, with the labels that each got.

#187 Minor Fine-Tuning Scheduler Tutorial Updates for PTL 1.7
  .azure/ipynb-publish.yml
  .azure/ipynb-tests.yml
  lightning_examples/basic-gan/gan.py
  lightning_examples/datamodules/.meta.yml
  lightning_examples/datamodules/datamodules.py
  lightning_examples/finetuning-scheduler/.meta.yml
  lightning_examples/finetuning-scheduler/finetuning-scheduler.py
  lightning_examples/finetuning-scheduler/logo_fts.png
  lightning_examples/mnist-hello-world/hello-world.py
  lightning_examples/mnist-tpu-training/mnist-tpu.py
Labels: enhancement

#186 CI: Set up dependabot for GitHub Actions
  .github/dependabot.yml
Labels: ci/cd

#185 CI: Update docker images
  .azure/ipynb-publish.yml
  .azure/ipynb-tests.yml
Labels: ci/cd

#194 Update: rename org / repo
  .actions/assistant.py
  .azure/ipynb-publish.yml
  .azure/ipynb-tests.yml
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/requirements.txt
  docs/source/_templates/theme_variables.jinja
Labels: bug / fix
