Repository Lightning-AI/tutorials, pull requests merged in 2022-04, with the labels that each got.

#152 CI: docs nightly
  .github/workflows/ci_code-format.yml
  .github/workflows/ci_docs.yml
  .github/workflows/ci_schema.yml
  lightning_examples/mnist-hello-world/hello-world.py
  lightning_examples/mnist-tpu-training/.meta.yml
Labels: documentation, CI/CD

#153 Bump version of black to 22.3.0
  .pre-commit-config.yaml
  course_UvA-DL/01-introduction-to-pytorch/Introduction_to_PyTorch.py
  course_UvA-DL/03-initialization-and-optimization/Initialization_and_Optimization.py
  course_UvA-DL/07-deep-energy-based-generative-models/Deep_Energy_Models.py
  course_UvA-DL/11-vision-transformer/Vision_Transformer.py
Labels: CI/CD

#151 CI/CD: store runtime requirements
  .actions/assistant.py
  .actions/test_cli.py
  .azure/ipynb-publish.yml
  .azure/ipynb-tests.yml
  .github/workflows/ci_docs.yml
  .github/workflows/ci_testing.yml
  templates/simple/.meta.yml
Labels: bug / fix, CI/CD

#150 update API PL v1.6 - Trainer dataloaders
  course_UvA-DL/04-inception-resnet-densenet/Inception_ResNet_DenseNet.py
  course_UvA-DL/05-transformers-and-MH-attention/Transformers_MHAttention.py
  course_UvA-DL/06-graph-neural-networks/.meta.yml
  course_UvA-DL/06-graph-neural-networks/GNN_overview.py
  course_UvA-DL/08-deep-autoencoders/Deep_Autoencoders.py
  course_UvA-DL/09-normalizing-flows/NF_image_modeling.py
  course_UvA-DL/10-autoregressive-image-modeling/Autoregressive_Image_Modeling.py
  course_UvA-DL/13-contrastive-learning/SimCLR.py
Labels: bug / fix

#157 ci: use script outputs
  .actions/assistant.py
  .azure/ipynb-publish.yml
  .azure/ipynb-tests.yml
  .github/workflows/ci_docs.yml
  .github/workflows/ci_testing.yml
  Makefile
  templates/simple/.meta.yml
Labels: enhancement

#158 CI: case excluding CPU
  .actions/assistant.py
  .azure/ipynb-publish.yml
  .azure/ipynb-tests.yml
  .github/workflows/ci_testing.yml
  .pre-commit-config.yaml
  requirements/default.txt
  requirements/devel.txt
  templates/img-classify/.meta.yml
  templates/img-classify/classify.py
  templates/simple/.meta.yml
Labels: enhancement

#146 Update PTL examples for v1.6 release
  lightning_examples/augmentation_kornia/augmentation.py
  lightning_examples/barlow-twins/barlow_twins.py
  lightning_examples/basic-gan/gan.py
  lightning_examples/cifar10-baseline/baseline.py
  lightning_examples/datamodules/datamodules.py
  lightning_examples/mnist-hello-world/hello-world.py
  lightning_examples/mnist-tpu-training/mnist-tpu.py
  lightning_examples/reinforce-learning-DQN/dqn.py
  lightning_examples/text-transformers/text-transformers.py
Labels: bug / fix

#164 update broken gan/datamodules tutorial links
  lightning_examples/basic-gan/gan.py
  lightning_examples/datamodules/.meta.yml
Labels: documentation

#144 Tutorial on multi-agent reinforcement learning with WarpDrive
  .azure/ipynb-publish.yml
  .azure/ipynb-tests.yml
  .github/workflows/ci_testing.yml
  lightning_examples/warp-drive/.meta.yml
  lightning_examples/warp-drive/multi_agent_rl.py
Labels: Example

#166 replace TensorBoard by CSV logger in PL examples
  lightning_examples/augmentation_kornia/augmentation.py
  lightning_examples/basic-gan/gan.py
  lightning_examples/cifar10-baseline/.meta.yml
  lightning_examples/cifar10-baseline/baseline.py
  lightning_examples/mnist-hello-world/.meta.yml
  lightning_examples/mnist-hello-world/hello-world.py
  lightning_examples/reinforce-learning-DQN/.meta.yml
  lightning_examples/reinforce-learning-DQN/dqn.py
  templates/img-classify/classify.py
Labels: enhancement
