Repository Lightning-AI/tutorials, pull requests merged in 2022-05, with the labels that each got.

#169 simplify torch imports of Tensor
  .actions/assistant.py
  .azure/ipynb-publish.yml
  .azure/ipynb-tests.yml
  Makefile
  course_UvA-DL/01-introduction-to-pytorch/Introduction_to_PyTorch.py
  course_UvA-DL/04-inception-resnet-densenet/Inception_ResNet_DenseNet.py
  course_UvA-DL/06-graph-neural-networks/.meta.yml
  course_UvA-DL/06-graph-neural-networks/GNN_overview.py
  course_UvA-DL/09-normalizing-flows/NF_image_modeling.py
  course_UvA-DL/10-autoregressive-image-modeling/Autoregressive_Image_Modeling.py
  course_UvA-DL/11-vision-transformer/Vision_Transformer.py
  course_UvA-DL/13-contrastive-learning/.meta.yml
  lightning_examples/barlow-twins/barlow_twins.py
  requirements/default.txt
Labels: refactoring

#170 Bugfix text-transformers.py
  lightning_examples/text-transformers/text-transformers.py
Labels: bug / fix

#167 Update WarpDrive notebook with fixes
  lightning_examples/warp-drive/.meta.yml
  lightning_examples/warp-drive/multi_agent_rl.py
Labels: enhancement

#171 Remove switch tags from svg files
  course_UvA-DL/01-introduction-to-pytorch/pytorch_computation_graph.svg
  course_UvA-DL/01-introduction-to-pytorch/small_neural_network.svg
  course_UvA-DL/04-inception-resnet-densenet/resnet_notation.svg
  course_UvA-DL/06-graph-neural-networks/example_graph.svg
  course_UvA-DL/06-graph-neural-networks/graph_message_passing.svg
  course_UvA-DL/08-deep-autoencoders/autoencoder_visualization.svg
  course_UvA-DL/09-normalizing-flows/Squeeze_operation.svg
  course_UvA-DL/09-normalizing-flows/image_to_gaussian.svg
  course_UvA-DL/09-normalizing-flows/multiscale_flow.svg
  course_UvA-DL/09-normalizing-flows/vanilla_flow.svg
Labels: documentation

#115 Finetuning scheduler
  docs/source/conf.py
  lightning_examples/finetuning-scheduler/.meta.yml
  lightning_examples/finetuning-scheduler/RteBoolqModule_ft_schedule_deberta_base.yaml
  lightning_examples/finetuning-scheduler/emphasized_yaml.png
  lightning_examples/finetuning-scheduler/finetuning-scheduler.py
  lightning_examples/finetuning-scheduler/fts_explicit_accuracy.png
  lightning_examples/finetuning-scheduler/fts_explicit_loss_anim.gif
  lightning_examples/finetuning-scheduler/implicit_training_transition.png
  lightning_examples/finetuning-scheduler/logo_fts.png
  lightning_examples/finetuning-scheduler/nofts_baseline_accuracy.png
  lightning_examples/finetuning-scheduler/side_by_side_yaml.png
Labels: Example

#172 Update warpdrive tutorial
  lightning_examples/warp-drive/.meta.yml
  lightning_examples/warp-drive/multi_agent_rl.py
Labels: enhancement
