Repository Lightning-AI/tutorials, pull requests merged in 2022-02, with the labels that each got.

#141 Docs: link stable versions
  .actions/assistant.py
  .github/CONTRIBUTING.md
  .github/workflows/ci_docs.yml
  course_UvA-DL/09-normalizing-flows/NF_image_modeling.py
  course_UvA-DL/10-autoregressive-image-modeling/Autoregressive_Image_Modeling.py
  docs/source/conf.py
  lightning_examples/datamodules/.meta.yml
  lightning_examples/mnist-tpu-training/.meta.yml
  lightning_examples/mnist-tpu-training/mnist-tpu.py
Labels: bug / fix, documentation

#137 Adjust papermill references for the release of 2.3.4
  .actions/assistant.py
  .azure/ipynb-publish.yml
  requirements/devel.txt
Labels: CI/CD

#140 CI: add internal testing
  .actions/assistant.py
  .actions/git-diff-sync.sh
  .actions/requirements.txt
  .actions/test_cli.py
  .github/workflows/ci_test-acts.yml
  README.md
  setup.cfg
Labels: CI/CD

#142 Fix mistake in total steps computation for GLUE notebook
  lightning_examples/text-transformers/.meta.yml
  lightning_examples/text-transformers/text-transformers.py
Labels: bug / fix
