Repository Lightning-AI/tutorials, pull requests merged in 2023-03, with the labels that each got.

#222 UvA DL Tutorials: Updating PL API to >1.8
  course_UvA-DL/01-introduction-to-pytorch/.meta.yml
  course_UvA-DL/01-introduction-to-pytorch/Introduction_to_PyTorch.py
  course_UvA-DL/02-activation-functions/.meta.yml
  course_UvA-DL/02-activation-functions/Activation_Functions.py
  course_UvA-DL/03-initialization-and-optimization/.meta.yml
  course_UvA-DL/03-initialization-and-optimization/Initialization_and_Optimization.py
  course_UvA-DL/04-inception-resnet-densenet/.meta.yaml
  course_UvA-DL/04-inception-resnet-densenet/Inception_ResNet_DenseNet.py
  course_UvA-DL/05-transformers-and-MH-attention/.meta.yml
  course_UvA-DL/05-transformers-and-MH-attention/Transformers_MHAttention.py
  course_UvA-DL/06-graph-neural-networks/.meta.yml
  course_UvA-DL/06-graph-neural-networks/GNN_overview.py
  course_UvA-DL/07-deep-energy-based-generative-models/.meta.yml
  course_UvA-DL/07-deep-energy-based-generative-models/Deep_Energy_Models.py
  course_UvA-DL/08-deep-autoencoders/.meta.yml
  course_UvA-DL/08-deep-autoencoders/Deep_Autoencoders.py
  course_UvA-DL/09-normalizing-flows/.meta.yml
  course_UvA-DL/09-normalizing-flows/NF_image_modeling.py
  course_UvA-DL/11-vision-transformer/.meta.yml
  course_UvA-DL/11-vision-transformer/Vision_Transformer.py
  course_UvA-DL/12-meta-learning/.meta.yml
  course_UvA-DL/12-meta-learning/Meta_Learning.py
Labels: enhancement

#232 Update course tutorials to Lightning 2.0
  _requirements/default.txt
  course_UvA-DL/01-introduction-to-pytorch/.meta.yml
  course_UvA-DL/01-introduction-to-pytorch/Introduction_to_PyTorch.py
  course_UvA-DL/02-activation-functions/.meta.yml
  course_UvA-DL/02-activation-functions/Activation_Functions.py
  course_UvA-DL/03-initialization-and-optimization/.meta.yml
  course_UvA-DL/03-initialization-and-optimization/Initialization_and_Optimization.py
  course_UvA-DL/04-inception-resnet-densenet/.meta.yaml
  course_UvA-DL/04-inception-resnet-densenet/Inception_ResNet_DenseNet.py
  course_UvA-DL/05-transformers-and-MH-attention/.meta.yml
  course_UvA-DL/05-transformers-and-MH-attention/Transformers_MHAttention.py
  course_UvA-DL/06-graph-neural-networks/.meta.yml
  course_UvA-DL/06-graph-neural-networks/GNN_overview.py
  course_UvA-DL/07-deep-energy-based-generative-models/.meta.yml
  course_UvA-DL/07-deep-energy-based-generative-models/Deep_Energy_Models.py
  course_UvA-DL/08-deep-autoencoders/.meta.yml
  course_UvA-DL/08-deep-autoencoders/Deep_Autoencoders.py
  course_UvA-DL/09-normalizing-flows/.meta.yml
  course_UvA-DL/09-normalizing-flows/NF_image_modeling.py
  course_UvA-DL/10-autoregressive-image-modeling/.meta.yml
  course_UvA-DL/10-autoregressive-image-modeling/Autoregressive_Image_Modeling.py
  course_UvA-DL/11-vision-transformer/.meta.yml
  course_UvA-DL/11-vision-transformer/Vision_Transformer.py
  course_UvA-DL/12-meta-learning/.meta.yml
  course_UvA-DL/12-meta-learning/Meta_Learning.py
  course_UvA-DL/13-contrastive-learning/.meta.yml
  course_UvA-DL/13-contrastive-learning/SimCLR.py
Labels: enhancement, refactoring

#233 Update lightning examples to 2.0 [1/n]
  .gitignore
  course_UvA-DL/01-introduction-to-pytorch/.meta.yml
  course_UvA-DL/02-activation-functions/.meta.yml
  course_UvA-DL/03-initialization-and-optimization/.meta.yml
  lightning_examples/augmentation_kornia/.meta.yml
  lightning_examples/augmentation_kornia/augmentation.py
  lightning_examples/barlow-twins/.meta.yml
  lightning_examples/barlow-twins/barlow_twins.py
  lightning_examples/basic-gan/.meta.yaml
  lightning_examples/basic-gan/gan.py
  lightning_examples/cifar10-baseline/.meta.yml
  lightning_examples/cifar10-baseline/baseline.py
  lightning_examples/datamodules/.meta.yml
  lightning_examples/datamodules/datamodules.py
  lightning_examples/finetuning-scheduler/.meta.yml
  lightning_examples/finetuning-scheduler/finetuning-scheduler.py
  lightning_examples/mnist-hello-world/.meta.yml
  lightning_examples/mnist-hello-world/hello-world.py
  lightning_examples/mnist-tpu-training/.meta.yml
  lightning_examples/mnist-tpu-training/mnist-tpu.py
  lightning_examples/reinforce-learning-DQN/.meta.yml
  lightning_examples/text-transformers/.meta.yml
  lightning_examples/warp-drive/.meta.yml
  lightning_examples/warp-drive/multi_agent_rl.py
Labels: enhancement, refactoring

#237 Update text transformer example to Lightning 2.0
  lightning_examples/text-transformers/.meta.yml
  lightning_examples/text-transformers/text-transformers.py
Labels: enhancement

#224 unify configs in pyproject & ruff
  .github/workflows/ci_test-acts.yml
  .pre-commit-config.yaml
  _requirements/default.txt
  _requirements/test.txt
  course_UvA-DL/01-introduction-to-pytorch/Introduction_to_PyTorch.py
  course_UvA-DL/02-activation-functions/Activation_Functions.py
  course_UvA-DL/03-initialization-and-optimization/Initialization_and_Optimization.py
  course_UvA-DL/04-inception-resnet-densenet/Inception_ResNet_DenseNet.py
  course_UvA-DL/05-transformers-and-MH-attention/Transformers_MHAttention.py
  course_UvA-DL/06-graph-neural-networks/GNN_overview.py
  course_UvA-DL/07-deep-energy-based-generative-models/Deep_Energy_Models.py
  course_UvA-DL/08-deep-autoencoders/Deep_Autoencoders.py
  course_UvA-DL/09-normalizing-flows/NF_image_modeling.py
  course_UvA-DL/11-vision-transformer/Vision_Transformer.py
  course_UvA-DL/12-meta-learning/Meta_Learning.py
  lightning_examples/reinforce-learning-DQN/.meta.yml
  lightning_examples/reinforce-learning-DQN/dqn.py
  lightning_examples/text-transformers/text-transformers.py
  pyproject.toml
  setup.cfg
Labels: ci/cd
