Repository Lightning-AI/tutorials, pull requests merged in 2023-01, with the labels that each got.

#218 building notebooks in sequence
  .actions/assistant.py
  .azure/ipynb-publish.yml
Labels: bug / fix, enhancement, Priority, ci/cd

#212 dependabot & freeze requirements
  .actions/assistant.py
  .actions/requires.txt
  .azure/ipynb-publish.yml
  .azure/ipynb-tests.yml
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/dependabot.yml
  .github/workflows/ci_docs.yml
  .github/workflows/ci_test-acts.yml
  .github/workflows/ci_testing.yml
  .github/workflows/docs-deploy.yml
  Makefile
  _requirements/data.txt
  _requirements/default.txt
  _requirements/devel.txt
  _requirements/docs.txt
  flash_tutorials/text_classification/.meta.yml
  flash_tutorials/text_classification/text_classification.py
  requirements.txt
  requirements/default.txt
  requirements/devel.txt
Labels: enhancement, ci/cd

#215 testing notebooks in parallel
  .actions/assistant.py
  .azure/ipynb-publish.yml
  .azure/ipynb-tests.yml
  .github/workflows/ci_testing.yml
Labels: enhancement, ci/cd

#207 Switch to self-hosted runners
  .actions/assistant.py
  .azure/ipynb-publish.yml
  .azure/ipynb-tests.yml
  templates/img-classify/.meta.yml
Labels: enhancement, ci/cd

#221 rename docs -> _docs
  .actions/assistant.py
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/ci_docs.yml
  .github/workflows/docs-deploy.yml
  .gitignore
  Makefile
  _docs/.build_docs.sh
  _docs/Makefile
  _docs/make.bat
  _docs/source/_static/images/icon.svg
  _docs/source/_static/images/logo.png
  _docs/source/_static/images/logo.svg
  _docs/source/_templates/theme_variables.jinja
  _docs/source/conf.py
  _docs/source/index.rst
Labels: documentation, enhancement, ci/cd

#216 CI: re-use general checks
  .github/workflows/ci_checks.yml
  .github/workflows/ci_code-format.yml
  .github/workflows/ci_schema.yml
Labels: enhancement, ci/cd

#214 ci: upload notebooks
  .github/workflows/ci_docs.yml
  templates/simple/template.py
Labels: enhancement, ci/cd

#213 flash: freeze numpy & compatibility
  flash_tutorials/electricity_forecasting/.meta.yml
  flash_tutorials/image_classification/.meta.yml
  flash_tutorials/tabular_classification/.meta.yml
  flash_tutorials/text_classification/.meta.yml
  templates/img-classify/.meta.yml
Labels: bug / fix

#211 Add required arguments for `torchmetrics` Accuracy
  lightning_examples/mnist-hello-world/.meta.yml
  lightning_examples/mnist-hello-world/hello-world.py
Labels: bug / fix

#209 Minor Fine-Tuning Scheduler Tutorial Updates for Lightning 1.8
  lightning_examples/finetuning-scheduler/.meta.yml
  lightning_examples/finetuning-scheduler/finetuning-scheduler.py
Labels: bug / fix
