Repository Lightning-AI/tutorials, pull requests merged in 2024-07, with the labels that each got.

#324 ci/test: use bare `ipython` instead of `nbval`
  .actions/assistant.py
  .azure/ipynb-validate.yml
  .github/workflows/ci_internal.yml
  README.md
  _requirements/default.txt
  _requirements/devel.txt
  course_UvA-DL/01-introduction-to-pytorch/.meta.yml
  course_UvA-DL/01-introduction-to-pytorch/notebook.py
  course_UvA-DL/07-deep-energy-based-generative-models/.meta.yml
  course_UvA-DL/07-deep-energy-based-generative-models/notebook.py
  pyproject.toml
Labels: topic: CI/CD

#326 ci: dont crash if testing matrix is empty
  .actions/git-diff-sync.sh
  .actions/requires.txt
  .azure/ipynb-validate.yml
  .github/workflows/ci_internal.yml
Labels: bug / fix, topic: CI/CD

#325 ci: debug deploy docs
  .actions/assistant.py
  .github/dependabot.yml
  .github/workflows/docker-build.yml
  .github/workflows/docs-deploy.yml
  _docs/source/conf.py
  course_UvA-DL/01-introduction-to-pytorch/notebook.py
  course_UvA-DL/07-deep-energy-based-generative-models/notebook.py
Labels: topic: CI/CD, topic: documentation

#289 debug json ecoding failure
  .actions/assistant.py
  .github/workflows/ci_docs.yml
  .github/workflows/docs-deploy.yml
Labels: documentation, Priority, ci/cd, topic: CI/CD

#305 docs: switch links from PDF to abstract
  .github/workflows/ci_docs.yml
  _docs/source/conf.py
  course_UvA-DL/03-initialization-and-optimization/Initialization_and_Optimization.py
  course_UvA-DL/04-inception-resnet-densenet/Inception_ResNet_DenseNet.py
  course_UvA-DL/05-transformers-and-MH-attention/Transformers_MHAttention.py
  course_UvA-DL/06-graph-neural-networks/GNN_overview.py
  course_UvA-DL/09-normalizing-flows/NF_image_modeling.py
  course_UvA-DL/10-autoregressive-image-modeling/Autoregressive_Image_Modeling.py
  course_UvA-DL/11-vision-transformer/Vision_Transformer.py
  course_UvA-DL/12-meta-learning/Meta_Learning.py
  lightning_examples/finetuning-scheduler/finetuning-scheduler.py
Labels: topic: CI/CD, topic: documentation

#316 docs: added mathjax for rendering tex format as imgmath needs latex engine to run
  .github/workflows/ci_docs.yml
  .github/workflows/docs-deploy.yml
  _docs/source/conf.py
Labels: bug / fix, topic: CI/CD, topic: documentation

#334 fixing some notebooks [freezing]
  .actions/assistant.py
  course_UvA-DL/06-graph-neural-networks/.meta.yml
  lightning_examples/finetuning-scheduler/.meta.yml
  lightning_examples/text-transformers/.meta.yml
  templates/img-classify/.meta.yml
  templates/img-classify/classify.py
Labels: bug / fix, topic: CI/CD

#335 cifar10: try unblock training
  lightning_examples/cifar10-baseline/baseline.py
Labels: topic: CI/CD

#337 ci: trigger on parent update
  .actions/assistant.py
  .actions/test_cli.py
  .azure/ipynb-validate.yml
  course_UvA-DL/requirements.txt
Labels: enhancement, topic: CI/CD

#156 update `make docs` for local
  .notebooks/README.md
  README.md
Labels: enhancement, ci/cd, topic: CI/CD

#339 ci: debug deploy docs +`simplejson`
  .actions/assistant.py
  .actions/requires.txt
  .github/workflows/docs-deploy.yml
Labels: topic: CI/CD

#340 req: lift `pyYAML` version freeze
  .actions/requires.txt
  course_UvA-DL/requirements.txt
Labels: topic: CI/CD

#348 ci: rebuild all notebooks in key req. | assistant changed ++ make default res.
  .actions/assistant.py
  .azure/ipynb-publish.yml
  .azure/ipynb-validate.yml
  README.md
  _dockers/ubuntu-cuda/Dockerfile
  _requirements/data.txt
  _requirements/devel.txt
  course_UvA-DL/01-introduction-to-pytorch/requirements.txt
  course_UvA-DL/02-activation-functions/requirements.txt
  course_UvA-DL/03-initialization-and-optimization/requirements.txt
  course_UvA-DL/04-inception-resnet-densenet/requirements.txt
  course_UvA-DL/05-transformers-and-MH-attention/requirements.txt
  course_UvA-DL/06-graph-neural-networks/.meta.yml
  course_UvA-DL/06-graph-neural-networks/requirements.txt
  course_UvA-DL/07-deep-energy-based-generative-models/notebook.py
  course_UvA-DL/07-deep-energy-based-generative-models/requirements.txt
  course_UvA-DL/08-deep-autoencoders/notebook.py
  course_UvA-DL/08-deep-autoencoders/requirements.txt
  course_UvA-DL/09-normalizing-flows/requirements.txt
  course_UvA-DL/10-autoregressive-image-modeling/requirements.txt
  course_UvA-DL/11-vision-transformer/requirements.txt
  course_UvA-DL/12-meta-learning/requirements.txt
  course_UvA-DL/13-contrastive-learning/requirements.txt
  course_UvA-DL/requirements.txt
  lightning_examples/finetuning-scheduler/finetuning-scheduler.py
  lightning_examples/finetuning-scheduler/requirements.txt
  lightning_examples/reinforce-learning-DQN/requirements.txt
  lightning_examples/requirements.txt
  lightning_examples/text-transformers/notebook.py
  lightning_examples/text-transformers/requirements.txt
Labels: topic: CI/CD

#349 ci: pre-install in separate step
  .actions/assistant.py
  .azure/ipynb-publish.yml
  .azure/ipynb-validate.yml
Labels: topic: CI/CD

#351 Fine-Tuning Scheduler Tutorial Update for Lightning/PyTorch `2.4.0`
  lightning_examples/finetuning-scheduler/finetuning-scheduler.py
  lightning_examples/finetuning-scheduler/requirements.txt
Labels: enhancement
